html {
  /* Disable scroll boucing *
  height  : 100%;
  overflow: hidden;
  position: relative;
  /**/
}

body { 
    /* Disable scroll boucing *
    height  : 100%;
    overflow: auto;
    position: relative;
    /**/


	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
    

	font-family: $font-medium;
	font-size: 18px;
	line-height: 20px;
	color: white;
	text-align: left;

	background-color: $grey;
	color: $font-grey-title;

}
*:focus {
  outline: none !important;
}
a, a:hover, a:focus {
color: $font-grey-title;
}
img {
max-width: 100% !important;
max-height: 100% !important;
}
h1,h2 {
font-weight: normal;
margin:0;
}
h1,.h1 {
  font-size:50px;
  line-height:61px;
}
h2,.h2 {
font-size: 30px;
line-height: 36px;
}
h3,.h3 {
font-size: 18px;
line-height: 20px;
}
h4,.h4 {
font-size: 18px;
}
h5,.h5 {
font-size: 18px;
}
p:last-of-type {
margin-bottom:0;
}
blockquote {
p:first-of-type:before {
  content: open-quote;
  vertical-align: top;
}
p:last-of-type:after {
  content: close-quote;
    vertical-align: bottom;
}
}


div.author {
font-style:normal;
div.role {
  display:block;
}
}
small {
font-size: 18px;
line-height: 20px;
}
.small {
font-size: 15px;
line-height: 15px;
}
.headline {
//padding-top:50px;
//padding-bottom:100px;
max-height:calc(100vh-30px);
overflow: hidden;
.h1 {
  font-size:50px;
  line-height:51px;
}
a {
  text-decoration:underline;
}
}


.img-contain {
object-fit: contain !important;
}
.occult {
z-index:-100 !important;
}


.scrollable-element{
overflow-y: scroll;
margin: 0 auto;
width:calc(100% - 30px);
height:calc(100% - 30px)
}

.hidden-content {
position: relative;
.showed-element {
  //position: absolute;
  //top:0;
  //left:0;
  //width:100%;
  //height: 100%;
}
.button-show-hidden-element {
  position: absolute;
  top:30px;
  left:30px;
  width:auto;
  cursor:pointer;
  z-index: 9;
  transition: 500ms ease-in-out;
  &.hhide {
    opacity: 0;
    z-index: -1;
  }
}
.hidden-element {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  background-color:rgba(0,0,0,0.75);
  color:white;
  opacity: 0;
  transition: 500ms ease-in-out;
  a {
    color:white;	
  }
  .meta-content {
    color: $font-smooth-grey;
    a {
      color: $font-smooth-grey;
    }
  }
  &.hshow {
    opacity: 1;
  }
}
}


#sectionFixedImage,
#sectionFixedVideo {
position:fixed; 
width:100%; 
height:100%; 
z-index:0; 
opacity:0;
transition: 500ms ease-in-out;
}

.video-layer,
.video-overlay  {
background-color:rgba(255,255,255,0.75);
transition: 500ms ease-in-out;
opacity: 1;
color:$font-grey-title;
a {
  color:$font-grey-title;	
}
.project-meta-item {
  margin-bottom:15px
}
.meta-content {
  color: $font-smooth-grey;
  a {
    color: $font-smooth-grey;
  }
}
}
.video-overlay {
opacity: 0;
&.hshow {
  opacity: 1;
}
&.mshow {
  opacity: 1;
  & > div {
    opacity:0;
    transition: none;
    display:none;
  }
}
}



.featurette {
position:relative;
//padding-top: 56.25%;
padding:0;
overflow: hidden;
height:100vh;


img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  max-width: none;
  max-height: none;
}
&-info {
  position: absolute;
  z-index: 2;
  font-size: 50px;
  line-height: 40px;
  bottom:30px;
  left:30px;

}
&-divider {
  margin: 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
&-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}
}
#FloatingMessage {
font-size: 18px;
line-height: 20px;
position:absolute;
z-index:10;
bottom:150px;
left:30px;
}