/**
 * partials/footer
 * ---
 */
 footer {
	color: $font-grey;
	background-color: white;
	padding:30px !important;
	max-height:170px !important;
	h1,h2, h3 {
		color: $font-grey-title;
	}
	a {
		color: $font-grey;
		&:hover {
			color: $font-grey;
		}
	}
	
}
#fixed-arrow-up {
	cursor: pointer;
	position:fixed;
	bottom:30px;
	right: 30px;
	width: 135px;
	height: 40px;
	z-index: 11;
	small {
		margin-top:12px;
		opacity:0;
		transition: 500ms ease-in-out;
	}
	img {
		width: 40px;
		margin-left:auto
	}
	&:hover {
		small {
			opacity:1
		}
	}
}

